<div class="cover">
  <img src="../../../assets/images/githead.jpg" />
  <div class="search">
    <form
      [formGroup]="searchForm"
      (ngSubmit)="search(searchForm.value.userName)"
    >
      <input
        type="text"
        formControlName="userName"
        placeholder="    search Github user here"
      />
      <button type="submit">search</button>
    </form>
    <div class="searchItems">
      <p>last 3 searches :</p>
      <div *ngFor="let item of searchItems" class="item">
        <p>{{ item }}</p>
      </div>
    </div>
  </div>
  <div class="scroll">
    <mat-icon
      *ngIf="loaded; else elseBlock"
      class="animate__animated animate__bounce animate__infinite"
      (click)="scroll(target)"
      >arrow_circle_down
    </mat-icon>
    <ng-template #elseBlock>
      <p class="animate__animated animate__flipInX animate__infinite">
        loading
      </p>
    </ng-template>
  </div>
</div>

<div #target><app-users-list [users]="users"></app-users-list></div>
