$white: #ffffff;

$primary-text: #2d3748;
$blue-text: #2c5282;
$lignt-blue-text: #3182ce;

$hover-icon: #718096;


$border: #a0aec0;
$border-light: #e2e8f0;

$light-background: #f7fafc;
$transp-background: #faf5ff4d;
$purple-bg: #ac74df;
$green-bg: #285e61;
