<div class="container" *ngIf='users?.length!==0'>
  <div class="content">
    <div class="header">
      <h2>The most popular users on Github</h2>
      <div class="views">
        <mat-icon (click)="changeView('__list')">view_list</mat-icon>
        <mat-icon (click)="changeView('__grid')">view_module</mat-icon>
      </div>
    </div>
    <hr />
    <div class="view {{mode}}">
      <div class="user {{mode}}" *ngFor="let user of users">
        <img src="{{ user.avatar_Url }}" alt="avatar" />
        <div class="user__info">
          <h3 routerLink="/{{ user.userName }}">{{ user.userName }}</h3>
          <p>{{ user.type }}</p>
        </div>
        <div class="user__repos">
          <h4>user repos</h4>
          <div *ngIf="user.repos.length !== 0; else elseBlock">
            <div class="user__repos__list">
              <div *ngFor="let repo of user.repos">
                <a
                  href="{{ repo?.html_url }}"
                  title="{{ repo?.description }}"
                  >{{ repo?.name }}</a
                >
              </div>
            </div>
          </div>
          <ng-template #elseBlock>no repos to display</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
