<div class="container">
  <div class="user" *ngFor="let user of users" routerLink="/{{user.userName}}">
    <img src="{{ user.avatar_Url }}" alt="avatar" />
    <div class="user__info">
      <h3>{{ user.userName }}</h3>
      <p>{{ user.type }}</p>
    </div>
    <div class="user__repos">
      <h5>user repos</h5>
      <div *ngIf="user.repos.length !== 0; else elseBlock">
        <div *ngFor="let repo of user.repos">
          <a
            class="repo"
            href="{{ repo?.html_url }}"
            title="{{ repo?.description }}"
            >{{ repo?.name }}</a
          >
        </div>
      </div>
      <ng-template #elseBlock>no repos to display</ng-template>
    </div>
  </div>
</div>
